/* Enterfフェース開始前と、leaveフェーズ終了後のスタイル*/
.v-enter, .v-leave-to {
	opacity: 0;
}
/* Enterフェーズ終了時と、Leaveフェーズ開始時のスタイル*/
.v-enter-to, .v-leave{
	opacity: 1;
}
/*Enterフェーズ継続中と、Leaveフェーズ継続中のスタイル*/
.v-enter-active, .v-leave-active{
	transition: opacity 0.5s;
}

/*シンプルなフェードイン*/
.fade-enter-active, .fade-leave-active {
	transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to{
	opacity: 0;
}
/*左からスライドイン*/
.slideInLeft-enter-active, .slideInLeft-leave-active {
	transition: opacity 0.5s, transform 0.5s;
}
.slideInLeft-enter, .slideInLeft-leave-to {
	opacity: 0;
	transform: translateX(-100%);
}
.slideInLeft-enter-to, .slideInLeft-leave {
	transform: translateX(0);
}